/*always on*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: journal;
    src: url(../fonts/journal-webfont.woff);
}

body,
html {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('../images/engels_burnt_orange_orange_brick-1024x640.jpg');
    font-family:'Roboto', sans-serif;
}
#hero-header {
    display: flex;
    justify-content: center;
}
#button-container {
    list-style: none;
    display: flex;
    margin: 2px 0 2px 0;
    gap: 3px;
}
.button {
    color: #fff;
    height: 50px;
    width: 80px;
    appearance: none;
    border: 2px black solid;
    border-radius: 8px;
    background-color: crimson;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: black 0px -2px 8px -1px;
}
.button:hover {
    cursor: pointer;
}
#heading {
    color:#fff;
    font-family: journal, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 15px;
}
.flex-hor-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#content {
    background-color:crimson;
    padding: 0 50px 0 50px;
    font-size: 1.3rem;
    color: #fff;
    width: 900px;
    margin: 0 auto 50px auto;
    border-radius: 3px;
    box-shadow: black 0px 0px 8px -1px;
}
/*Home page*/
#main-pic {
    width: 820px;
}
#paragraph {
    color: #fff;
    margin: 0;
    padding: 0 40px 30px 40px;
}
/*Menu page*/
#sub-heading {
    margin-bottom: 44px;
}
#menu-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-around;
}
.menu-image {
    height: 240px;
    width: 360px;
}
.menu-item > p {
    margin: -10px 0;
    width: 80%;
}
/*Contact Page*/
#contact-card {
    
    box-sizing: border-box;
    width: 400px;
    height: 250px;
    background-color: #bb1032;
    border:  #8c0c26 10px solid ;
    margin-bottom: 170px;
    padding: 20px;
    font: 400;
}
#contact-card > div {
    margin: 10px 0 15px 0;
    ;
}
#hours-section {
    margin: 40px 0 15px 0;
}